/* Events.module.css */
.container {
    position: relative;
    width: 100%;
    height: 100vh; /* Use the full viewport height */
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  .imageWrapper {
    display: flex;
    justify-content: center; /* Center image horizontally */
    align-items: center; /* Center image vertically */
    z-index: 2; /* Ensure the image is on top */
  }
  
  .imageContainer {
    position: relative;
    width: 50vw; /* Set the width of the image to 50% of the viewport width */
    height: 30vw; /* Set the height of the image to 30% of the viewport width */
    transition: all 0.3s ease; /* Add transition for smooth animation */
  }
  
  .imageContainer:hover {
    transform: translate(5%, 5%); /* Translate the image towards right and bottom on hover */
  }
  
  /* Assuming you want the image to fill the container */
  .imageContainer > div {
    width: 100%;
    height: 100%;
  }
  
  .rectangleContainer {
    position: relative;
    width: 100%;
    height: auto; /* Make the height auto to match the content (rectangles) */
    display: flex;
    flex-direction: column; /* Align rectangles vertically */
    align-items: center; /* Center rectangles horizontally */
    z-index: 1; /* Ensure the rectangles are behind the image */
  }
  
  .orangeRectangle {
    width: 50vw; /* Set the width of the orange rectangle to 50% of the viewport width */
    height: 30vw; /* Set the height of the orange rectangle to 30% of its width (50vw) */
    background-color: #F58D14;
    margin-bottom: 20px;
    z-index: 2; /* Add some spacing between the rectangles */
  }
  
  .pinkRectangle {
    width: 50vw; /* Set the width of the pink rectangle to 50% of the viewport width */
    height: 30vw; /* Set the height of the pink rectangle to 30% of its width (50vw) */
    background-color: #CC3272;
    z-index: 3;
  }