.home {
    z-index: 0;
    position: relative;
  }
  
  .outline_title {
    text-shadow:
           3px 3px 0 #000,
         -3px -3px 0 #000,  
          3px -3px 0 #000,
          -3px 3px 0 #000,
           3px 3px 0 #000,
           0.25ch 0.1ch 0 #000;
    }
  
  .home_navbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 2% 5%;
  }
  
  .home_navbar > * {
    flex: 1;
    display: flex;
    align-items: center;
  }
  
  .home_navbar  .hamburger {
    justify-content: flex-start;
    cursor: pointer;
    padding: 10px;
  }
  .home_navbar  .hamburger:hover {
    cursor: pointer;
  }
  
  .home_navbar  .hamburger .line {
    width: 30px;
    height: 5px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    border-radius: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .home_navbar  .hamburger .line-yellow {
    width: 30px;
    height: 5px;
    background-color: #ffc107;
    display: block;
    translate: 10px;
    margin: 8px auto;
    border-radius: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  #hamburger-1.is-active .line-yellow:nth-child(2) {
    opacity: 0;
  }
  
  #hamburger-1.is-active .line:nth-child(1) {
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
  }
  
  #hamburger-1.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
  }
  
  .home_navbar  .logo_container {
    justify-content: center;
  }
  
  .home_navbar  .button_container {
    justify-content: flex-end;
  } 
  
  .home_navbar  button {
    background-color: #ffffff;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    box-shadow: #ffc107 5px 5px 0px;
    border: 3px solid #000;
    padding: 10px 30px;
    border-radius: 5px;
    color: #000;
    height: fit-content;
    transition: all 0.2s ease-in-out;
  }
  
  .home_navbar  button:hover {
    box-shadow: #ffc107 0px 0px;
    transform: translate(5px, 5px);
  }
  
  @media screen and (max-width: 768px) {
    .home_navbar  button {
      background-color: #ffffff;
      font-size: 20px;
      font-style: normal;
      box-shadow: #ffc107 5px 5px 0px;
      border: 3px solid #000;
      padding: 10px 10px;
      border-radius: 5px;
      color: #000;
      height: fit-content;
    }
  }
  
  .home_landing {
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #ae8dd4 25%, transparent 25%),
      linear-gradient(-45deg, #ae8dd4 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #ae8dd4 75%),
      linear-gradient(-45deg, transparent 75%, #ae8dd4 75%);
    background-size: 101px 101px;
    background-position: 0 0, 0 52px, 50px -50px, -50px 2px;
    background-color: #8958da;
    animation: moveCheckeredY 2s linear infinite, saturationChange 2s ease-in;
  }
  
  @keyframes moveCheckeredY {
    to {
      background-position: 0 100px, 0 150px, 50px 50px, -50px 100px;
    }
  }
  
  @keyframes moveCheckeredX {
    to {
      background-position: 100px 0, 100px 50px, 150px -50px, 50px 0;
    }
  }
  
  @keyframes saturationChange {
    0% {
      filter: saturate(0);
    }
    100% {
      filter: saturate(100%);
    }
  }
  
  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }
  
  .home_landing > .img_container > .text_container > h1 {
    color: #fff;
    font-size: 10vw;
    font-style: normal;
    font-weight: 700;
    line-height: 87.5%;
    letter-spacing: 1vw;
    animation: bounce 2s infinite;
  }
  
  .home_landing > .img_container > .text_container > h2 {
    color: #ffd388;
    font-size: 5vw;
    font-style: normal;
    font-weight: 700;
    line-height: 87.5%;
    letter-spacing: minmax(0.6vw, 10px);
  }
  
  .home_landing > .img_container {
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .home_landing > .img_container > img {
    width: 60vw;
    max-width: 650px;
  }
  
  .home_landing > .img_container > .text_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 1%;
  }
  
  .home_legacy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: minmax(100vh, 100%);
    background-color: #02af85;
    padding: 2vw;
    position: relative;
    overflow: hidden;
  }
  
  .home_legacy > .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/legacy_overlay.png");
    mix-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    opacity: 0.6;
    pointer-events: none;
  }
  
  .home_legacy > .yt-box {
    display: flex;
    pointer-events:auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    min-height: 150px;
    width: 75vw;
    height: 30vw;
    background-color: #000;
    margin: 5%;
    margin-top: 10%;
    border-radius: 20px;
    padding: clamp(5px, 1.5vw, 10px);
    z-index: 10;
  }
  
  .home_legacy > .text-container > h1 {
    color: #ffc107;
    font-size: clamp(2.5rem, 6.5vw, 6.5rem);
    font-style: normal;
    font-weight: 700;
    line-height: 87.5%;
    letter-spacing: minmax(1px, 0.2);
    text-align: center;
  }
  
  .home_legacy > .text-container > h2 {
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: clamp(2rem, 3vw, 4rem);
    font-style: normal;
    font-weight: 700;
    line-height: 87.5%;
    letter-spacing: minmax(1px, 0.2vw);
    text-align: center;
  }
  
  .home_legacy > .text-container > h2 > .infinity {
    color: #ffffff;
    font-size: clamp(3rem, 6vw, 6rem);
    font-style: normal;
    font-weight: 700;
    line-height: 87.5%;
    letter-spacing: minmax(1px, 0.2vw);
    text-align: center;
    padding: 10px;
  }
  
  .home_legacy > .text-container > .subhead {
    width: 65vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto 0;
  }
  .home_legacy > .text-container > .subhead > h3 {
    color: #fffff4;
    font-size: clamp(0.8rem, 1.6vw, 4rem);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0px;
    text-align: center;
    padding: 10px;
  }
  .home_legacy > .text-container {
    margin-bottom: 30vw;
  }
  
  .home_legacy .college-img {
    position: absolute;
    bottom: 0;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: fit-content;
  }
  
  .home_eye_out {
    height: max(100vh, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #f0cb75 25%, transparent 25%),
      linear-gradient(-45deg, #f0cb75 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #f0cb75 75%),
      linear-gradient(-45deg, transparent 75%, #f0cb75 75%);
    background-size: 101px 101px;
    background-position: 0 0, 0 52px, 50px -50px, -50px 2px;
    background-color: #E8AD37;
    animation: moveCheckeredX 2s linear infinite;
    overflow: hidden;
  }
  
  .home_eye_out > h1 {
    padding-top: 5%;
    color: #f781a1;
    font-size: clamp(50px, 7vw, 7rem);
    font-style: normal;
    font-weight: 700;
    line-height: 87.5%;
    letter-spacing: minmax(1px, 0.2);
    margin-bottom: 60px;
    text-align: center;
  }
  
  .home_eye_out > .container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .home_eye_out > .container .sun {
    min-width: 420px;
    max-width: 600px;
  }
  
  .home_eye_out > .container .card {
    position: relative;
    transform: rotate(-10deg);
  }
  
  .home_eye_out > .container .card > .card_body {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 50px;
  }
  
  .home_eye_out > .container .card > img {
    width: 280px;
  }
  
  .home_eye_out > .container .card > .card_body > h2 {
    color: #ffc107;
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: 87.5%;
    letter-spacing: -0.5px;
  }
  
  .home_eye_out > .container .card > .card_body > p {
    color: #000;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 10px;
  }
  
  .home_eye_out > .container .card > .card_body > button {
    background-color: #ffc107;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    box-shadow: #000 5px 5px 0px;
    border: 3px solid #000;
    padding: 6px 15px;
    border-radius: 5px;
    color: #000;
  }
  
  @media screen and (max-width: 1280px) {
    .home_eye_out > .container .card > img {
      min-width: 180px;
    }
  
    .home_eye_out > .container .sun {
      max-width: 470px;
      min-width: 420px;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .home_eye_out > .container {
      flex-direction: column;
      margin-bottom: 5%;
    }
    
    .home_eye_out > .container .card > img {
      width: 230px;
    }
  }
  
  .home_throwback {
    background-color: #6f17bb;
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: -1;
    min-height: 600px;
    height: 90vh;
  }
  
  .home_throwback > .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/throwback_overlay.png");
    mix-blend-mode: soft-light;
    z-index: -1;
  }
  
  .home_throwback > .text_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .home_throwback > .text_wrapper > h1 {
    color: #fff;
    font-size: clamp(50px, 7vw, 6rem);
    font-style: normal;
    font-weight: 700;
    line-height: 87.5%;
  }
  
  @media screen and (max-width: 768px) {
    .home_throwback {
      height: 700px;
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: center;
    }
  
    .home_throwback > .text_wrapper {
      margin: 10%;
    }
  }
  
  .home_merchandise {
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: linear-gradient(45deg, #f9a6bc 25%, transparent 25%),
      linear-gradient(-45deg, #f9a6bc 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #f9a6bc 75%),
      linear-gradient(-45deg, transparent 75%, #f9a6bc 75%);
    background-size: 101px 101px;
    background-position: 0 0, 0 52px, 50px -50px, -50px 2px;
    background-color: #f781a1;
    animation: moveCheckeredY 2s linear infinite;
  }
  
  .home_merchandise > .text-container > h1 {
    color: #ffffff;
    width: 50%;
    font-size: clamp(40px, 7vw, 7rem);
    font-style: normal;
    font-weight: 700;
    line-height: 87.5%;
    letter-spacing: minmax(1px, 0.2);
  }
  
  .home_merchandise > .video-layer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .home_merchandise > .video-layer > .yt-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    min-height: 150px;
    width: 60vw;
    height: 30vw;
    background-color: #000;
    margin: 5%;
    border-radius: 20px;
    padding: clamp(5px, 1.5vw, 10px);
  }
  
  .home_merchandise > .video-layer > button {
    background-color: #ffffff;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    box-shadow: #000 5px 5px 0px;
    border: 3px solid #000;
    padding: 6px 35px;
    border-radius: 5px;
    color: #000;
  }
  
  .home_ambassadors {
    overflow: hidden;
    position: relative;
    display: flex;
    width: 100%;
    min-height: 500px;
    background-color: #c83441;
    z-index: -1;
  }
  
  .home_ambassadors > .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/ambassador_overlay.png");
    background-position: 40% 50%;
    mix-blend-mode: soft-light;
    opacity: 0.9;
    z-index: -1;
  }
  
  .home_ambassadors > .content_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
    margin-left: 10%;
    margin-bottom: 10%;
    margin-top: 5%;
  }
  
  .home_ambassadors > .image_container {
    width: 100%;
  }
  
  .home_ambassadors > .image_container > .speaker {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .home_ambassadors > .image_container img {
    width: clamp(300px, 50vw, 500px);
    object-fit: contain;
  }
  
  .home_ambassadors > .content_container > h1 {
    color: #ffc107;
    font-size: clamp(1.5rem, 7vw, 5rem);
    font-style: normal;
    font-weight: 700;
    line-height: 87.5%;
    letter-spacing: minmax(1px, 0.2);
    z-index: 1;
  }
  
  .home_ambassadors > .content_container > h2 {
    color: #ffffff;
    width: 100%;
    font-size: clamp(0.8rem, 3vw, 4.5rem);
    font-style: normal;
    font-weight: 700;
    line-height: 87.5%;
    letter-spacing: minmax(1px, 0.2);
  }
  
  .home_ambassadors > .content_container > button {
    background-color: #ffffff;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    box-shadow: #000 5px 5px 0px;
    border: 3px solid #000;
    padding: 6px 20px;
    border-radius: 5px;
    max-width: max-content;
    color: #000;
  }
  
  @media screen and (max-width: 768px) {
    .home_ambassadors > .content_container > button {
      padding: 2px 10px;
      font-size: 1.2rem;
    }
  
    .home_ambassadors > .content_container {
      justify-content: center;
    }
  }
  
  .home_events {
    padding: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    background: linear-gradient(45deg, #7ecc9a 25%, transparent 25%),
      linear-gradient(-45deg, #7ecc9a 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #7ecc9a 75%),
      linear-gradient(-45deg, transparent 75%, #7ecc9a 75%);
    background-size: 101px 101px;
    background-position: 0 0, 0 52px, 50px -50px, -50px 2px;
    background-color: #28ac72;
  }
  
  .home_events > h1 {
    margin-top: 5%;
    color: #ffffff;
    font-size: clamp(2.5rem, 9vw, 7rem);
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: minmax(1px, 0.2);
    text-align: justify;
  }
  
  .home_events > h2 {
    color: #ffffff;
    font-size: clamp(0.8rem, 2.8vw, 3rem);
    font-style: normal;
    font-weight: 700;
    line-height: 87.5%;
  }
  
  .home_events > .container {
    margin-top: 30px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .home_events > .container > .event_card {
    height: 280px;
    width: 200px;
    background-color: #1f1f1f;
    border-radius: 35px;
    border: 2px solid #fffefe;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    transition: all 0.2s ease-in-out;
  }
  
  .home_events > .container > .event_card:hover {
    z-index: 99;
    cursor: pointer;
  }
  
  .home_events > .container > .event_card > p {
    color: #ffffff;
    font-size: 10px;
    margin-bottom: 10px;
  }
  
  .home_events > .container > .event_card > h1 {
    color: #ffffff;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 87.5%;
    letter-spacing: minmax(1px, 0.2);
    text-align: justify;
  }
  
  @media screen and (max-width: 830px) {
    .home_events > .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0px;
    }
  }
  
  .home_sponsors {
    padding: 5vw;
    display: block;
    background: linear-gradient(45deg, #f9a6bc 25%, transparent 25%),
    linear-gradient(-45deg, #f9a6bc 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #f9a6bc 75%),
    linear-gradient(-45deg, transparent 75%, #f9a6bc 75%);
    background-size: 101px 101px;
    background-position: 0 0, 0 52px, 50px -50px, -50px 2px;
    background-color: #f781a1;
    animation: moveCheckeredY 2s linear infinite;
  }
  
  .home_sponsors > h1 {
    width: 50%;
    color: #ffffff;
    font-size: clamp(2.5rem, 9vw, 7rem);
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: minmax(1px, 0.2);
    margin-bottom: 20px;
  }
  
  .home_sponsors_container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  
  
  .home_footer {
    background-color: #A7295E;
    height: 100%;
    width: full;
    padding: 5vw 5vw 0 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .home_footer > .text-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .home_footer > .text-area > .getintouch {
    color: #f781a1;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 300;
    line-height: 87.5%;
    letter-spacing: minmax(1px, 0.2);
    text-align: justify;
  }
  
  .home_footer > .text-area > .email {
    color: #ffffff;
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 300;
    line-height: 87.5%;
    letter-spacing: minmax(1px, 0.2);
    text-align: justify;
    padding: 4px 0px;
  }
  .home_footer > .text-area > .icon-area {
    display: flex;
    flex-direction: row;
    gap: 4vw;
    padding: 10px 0px;
  }
  .home_footer > .text-area > .icon-area > .icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 1vw 0vw;
  }
  .home_footer > .text-area > .icon-area > .seperator {
    width: 1px;
    height: 4vw;
    background-color: #ffffffd0;
  }
  .home_footer > .text-area > .icon-area > .nav {
    padding: 0.5vw 0.1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .home_footer > .text-area > .icon-area > .nav > .text {
    color: #ffffffb5;
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 300;
    line-height: 87.5%;
    letter-spacing: minmax(1px, 0.2);
    text-align: justify;
    padding: 0.4vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .home_footer > .text-area > .copyright > h3 {
    color: #ffffffb5;
    font-size: 1vw;
    font-style: normal;
    font-weight: 300;
    line-height: 87.5%;
    letter-spacing: minmax(1px, 0.2);
    text-align: justify;
    display: flex;
    justify-content: flex-start;
    padding: 0.3vw;
    align-items: center;
  }
  .home_footer > .text-area > .copyright > h4 {
    color: #ffffffb5;
    font-size: 0.7vw;
    font-style: normal;
    font-weight: 300;
    line-height: 87.5%;
    letter-spacing: minmax(1px, 0.2);
    text-align: justify;
    display: flex;
    justify-content: flex-start;
    padding: 0.3vw;
    align-items: center;
  }
  
  @media screen and (max-width: 768px) {
  
    .home_footer > .rainbow > img {
      display: none;
    }
  
    .home_footer > .text-area > .getintouch {
      font-size: 8.5vw;
    }
  
    .home_footer > .text-area > .email {
      font-size: 6.5vw;
    }
  
    .home_footer > .text-area > .icon-area > .seperator {
      height: 16vw;
      margin: 0vw 10vw;
    }
  
    .home_footer > .text-area > .icon-area > .nav > .text {
      font-size: 6.2vw;
    }
  
    .home_footer > .text-area > .copyright {
      padding: 5vw;
    }
  
    .home_footer > .text-area > .copyright > h3 {
      font-size: 4vw;
      justify-content: center;
    }
    .home_footer > .text-area > .copyright > h4 {
      font-size: 3.7vw;
      justify-content: center;
    }
  }
  